<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Would You Rather?</title>
    <link
  </head>
  <body>
    <div class="app">
        <a class="nav" href="/">Home</a>
        {{{body}}}
    </div>
  </body>
</html>
