<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Would You Rather?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  </head>
  <body>
    <div class="app">
        <a class="nav" href="/">Home</a>
        {{{body}}}
    </div>
  </body>
</html>
