.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
}

.questionIntro {
  display: flex;
  text-align: center;
}

.gameView {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4em;
}

.gameView > h2 {
  margin: 0.5em 0.5em;
}

.homeLink {
  display: flex;
  justify-content: flex-start;
}

.questionOne, .questionTwo {
  width: 90vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.questionOne {
  background-color: red;
}

.questionTwo {
  background-color: blue;
}

.questionOne > a, .questionTwo > a {
  margin: 0.5em;
}

a > p {
  margin: 0;
}


.footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 1em;
}

.footer > .ranking {
  width: 50%;
  margin-left: 3em;
}

.footer > .reset {
  width: 50%;
  text-align: right;
  margin-right: 3em;
}

.ranking > p, .reset > p {
  width: 100%;
}

/* Welcome page*/
.twelve {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twelve > p {
  font-size: 2em;
  text-align: center;
}

form > label {
  font-size: 1.3em;
}

@media (min-width: 500px) {
  .gameView {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .questionOne, .questionTwo {
    width: 30vw;
  }

  .questionIntro {
    margin-bottom: 5em;
  }

  .app {
    height: 75vh;
    margin: 5em 0;
  }
}
